.netflix-icon {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentcolor;
  display: block;
}

.banner-img {
  background-image: url("../../Images/netflixbackground.jpg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding-bottom: 48px;
}

header.netflix-header {
  padding: 3rem;
}

.sign-in-container {
  max-width: 450px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 48px 64px;
  border-radius: 4px;
}

.sign-in-content h1 {
  margin-bottom: 2rem;
  color: #fff;
}

.sign-in-form input.email-field,
.sign-in-form input.password-field,
.sign-in-form input.fullname-field {
  padding: 15px 10px;
  border-radius: 5px;
  min-width: 100%;
  margin-bottom: 16px;
  display: block;
  border: none;
  height: 48px;
}

.sign-in-form button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin-bottom: 16px;
}

.sign-in-form button.sign-in-button {
  background-color: rgb(229, 9, 20);
  color: white;
}

.sign-in-form .sign-in-code-button {
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
  margin-bottom: 20px;
}

.or-container label {
  color: white;
  font-size: 1rem;
}

.remember-me-container label {
  color: white;
  font-size: 1rem;
  margin: 16px 0;
  display: inline-block;
}

.or-container {
  text-align: center;
  margin: 16px 0;
}

a.pwd-link {
  color: white;
  text-decoration: underline;
  text-align: center;
  display: block;
}

a.pwd-link,
a.signup-now {
  color: white;
}

a.learn-more {
  color: rgb(68, 142, 244);
  font-size: 0.8125rem;
}

span.signup-info,
span.recaptcha-info,
span.signup-info {
  text-align: left;
  display: inline-block;
  margin-bottom: 16px;
}

a.signup-now {
  color: white;
  display: inline-block;
  padding-left: 5px;
  font-weight: 500;
}

span.signup-info {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

span.recaptcha-info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8125rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4.5rem 3rem;
  color: white;
}

.footer-links {
  margin: 20px 0;
  padding: 0;
}

.footer-links li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8125rem;
}

.footer-links li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 20%;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.remember-me-container {
  display: flex;
  align-items: center;
}

.remember-me-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.password-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

input.password-field {
  padding-right: 30px; /* Space for the icon */
}

.toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 8px;
  display: inline-block;
  margin-bottom: 15px;
}
